<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="MSSQL_MainDB"
         providerName="System.Data.SqlClient"
         connectionString="Server=tcp:covidapi-v1dbserver.database.windows.net,1433;
            Initial Catalog=CovidAPI-v1_db;Persist Security Info=False;
            User ID=Kirubel;Password=Abiye2019!;
            MultipleActiveResultSets=False;Encrypt=True;"/>-->
    <add connectionString="Data Source=KIRUBELTOLOSA\SQLEXPRESS;Initial Catalog=COVID;Integrated Security=SSPI" name="MSSQL_MainDB"></add>
  <!--<add connectionString="Data Source=Persist Security Info=False;User ID=admin;  Password=Abiye2019!; Initial Catalog=Covid;Data Source=covid.ch5xnsicjpsq.us-east-2.rds.amazonaws.com,1433" name="MSSQL_MainDB"></add>-->
  </connectionStrings>
  <appSettings>
    <add key="Data_LocalCopy" value="D:\SelfStudy\Covid-19\Covid-19_Essential_DATA\LocationsGlobal.csv"></add>
    <add key="covidConfirmedCasesAPI" value="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"/>
    <add key="covidDeathsAPI" value="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"/>
    <add key="covidRecoveriesAPI" value="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"/>
    <add key="covidConfirmedCases_USAPI" value="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"/>
    <add key="covidDeaths_USAPI" value="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>